div{
  padding:10px 10px;
}
.content{
  border: 1px solid #119BFA;
  padding:0px;
}
.title{
  background-color:#119BFA;
  padding:0px;
  color:#FFF;
  padding-left:15px;
}
.table{
  border: 1px solid #B2B3B4;
}
.buttons{
  text-align:right;
  padding-right:0px;
}
table{
  width:100%;
}
thead, tbody{
  text-align:center;
}
